
#generale{
    padding: 5%;
    background-color: lightgray;
}

#corpo{
    padding: 5%;
    background-color: white;
    border-radius: 5px;
}

#nome-azienda{
    float: right;
    margin-right: 88%;
    font-weight: bold;  
}

#add-task{
    background-color: lightskyblue;
    color: white;
    padding: 3px;
    border-radius: 10%;
}

#add-section{
    background-color: white;
    color: lightgrey;
    padding: 3px;
    border-radius: 10%;
}

/* colori tag */

.blu{
    background-color: lightskyblue;
    color: white;
    border-radius: 10%;
}

#q1{
    background-color: violet;
    color: white;
    border-radius: 10%;
}

#green{
    background-color: lightgreen;
    color: white;
    border-radius: 10%;
}

#orange{
    background-color: orange;
    color: white;
    border-radius: 10%;
}

#pink{
    background-color: lightpink;
    color: white;
    border-radius: 10%;
}

#light-green{
    background-color: greenyellow;
    color:white;
    border-radius: 10%;
}